* {
    background-color: #45B29D;
    text-align: center;
    font-family: roboto, sans-serif;
  }

  ul {
    list-style-type: none;
    text-indent: -2.5em;
  }
  
  h6{
    color: yellow;
    text-transform: uppercase;
    text-decoration:none;
    font-size: xx-large;
}